:root{
    --light-gray-main-background: hsl(0, 0%, 90%);
    --grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
    --very-light-gray-screen-background: hsl(0, 0%, 93%);

    --dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
    --very-dark-cyan-key-shadow: hsl(185, 58%, 25%);

    --orange-key-background-toggle: hsl(25, 98%, 40%);
    --dark-orange-key-shadow: hsl(25, 99%, 27%);

    --light-grayish-yellow-key-background: hsl(45, 7%, 89%);
    --dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
}
body.active1 h1{
	color: #111;
}
body.active1 {
    background-color: var(--light-gray-main-background);
}
body.active1 p,
body.active1 span{
    color: black;
}

body.active1 .reset,
body.active1 .del {
    background-color: var(--dark-moderate-cyan-key-background) !important;
    box-shadow: 0 3px 0 0 var(--very-dark-cyan-key-shadow) !important;
}

.active1 .equal{
    background-color: var(--orange-key-background-toggle) !important;
    box-shadow: 0 3px 0 0 var(--dark-orange-key-shadow) !important;
}

.active1 .bg-num{
    background-color: var(--grayish-red-toggle-background-keypad-background);
}

.active1 .circle{
    background-color: var(--orange-key-background-toggle);
    box-shadow: var(--dark-orange-key-shadow);
}

.active1 #output{
    background-color: white;
    color: black;
}

.active1 .calculator-body{
    background-color: var(--grayish-red-toggle-background-keypad-background);
}

.active1 .calculator-body button{
    color: var(--very-dark-grayish-yellow);
    background-color: var(--light-grayish-yellow-key-background);
    box-shadow: 0px 3px 0px 0px var(--dark-grayish-orange-key-shadow);
}